---
import { getCollection } from "astro:content";
const posts = await getCollection('blog');
const site = Astro.site || new URL('https://example.com');
const items = posts.sort((a,b)=> new Date(b.data.pubDate) - new Date(a.data.pubDate));
Astro.response.headers.set("Content-Type", "application/rss+xml");
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>Devlog RSS</title>
    <link>{site}</link>
    <description>Latest posts</description>
    {items.map(p => `<item>
      <title>${p.data.title}</title>
      <link>${new URL(`/blog/${p.slug}/`, site)}</link>
      <pubDate>${new Date(p.data.pubDate).toUTCString()}</pubDate>
      <description>${p.data.description}</description>
    </item>`).join("")}
  </channel>
</rss>
