---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
import ProjectGrid from "../../components/ProjectGrid.astro";
---
<Layout title="Projects">
  <Nav />
  <h1 class="font-display text-3xl neon">Projects</h1>
  <ProjectGrid class="mt-8" />
  <Footer />
</Layout>
